@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

.dark .sidebar {
  background-color: theme('colors.sidebar');
}

.light .sidebar {
  background-color: #fff;
}

.custom-img {
  max-width: 256px;
  max-height: 200px;
}

.custom-inventory-img {
  max-width: none;
  height: 95px;
  width: 95px;
}

.image-container {
  max-width: 500px;
  max-height: 400px;
  width: 100%;
  height: auto;
}
@media (min-width: 910px) {
  .grid-cols-custom {
    grid-template-columns: repeat(5, 1fr);
    width: 520px;
    height: 520px;
  }
}

@layer utilities {
  .button-offer {
    @apply text-base rounded-lg font-semibold text-neutral-50 bg-emerald-800 p-3;
  }

  .list-rarity {
    @apply cursor-pointer bg-slate-100 border p-2 rounded w-32 text-center font-medium;
  }

  .list-rarity.isActive {
    @apply bg-slate-300;
  }
}
